
<link href=C:\Users\User\Desktop\FinalProject\auto-connect-client\src\assets\css\style.css rel="stylesheet" id="bootstrap-css">





<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap">
<div class="img-big-wrap">
  <div> <a href="#"><img src="assets/images/car_1.jpg"></a></div>
</div> <!-- slider-product.// -->
<div class="img-small-wrap">
  <div class="item-gallery"> <img src="assets/images/car_1.jpg"> </div>
  <div class="item-gallery"> <img src="assets/images/car_1.jpg"> </div>
  <div class="item-gallery"> <img src="assets/images/car_1.jpg"> </div>
  <div class="item-gallery"> <img src="assets/images/car_1.jpg"> </div>
</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">Original Version of Some product name</h3>

<p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">US $</span><span class="num">1299</span>
	</span>
	<span>/per day</span>
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>Description</dt>
  <dd><p>Here goes description consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco </p></dd>
</dl>
<dl class="param param-feature">
  <dt>Model#</dt>
  <dd>12345611</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Color</dt>
  <dd>Red>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Car Transmissions</dt>
  <dd>manual</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
	<a href="#" class="btn btn-lg btn-primary text-uppercase"> Rent now </a>
  <hr>



<!-- rent-now.component.html -->
<div class="hero inner-page" style="background-image: url('assets/images/car_6.jpg');" alt="Image" class="img-fluid">
  <!-- Your other content here -->
</div>


