<form class="trip-form">

  <div class="row align-items-center">
    <div class="mb-3 mb-md-0 col-md-3">
      <input type="text"  id="cf-3" placeholder="Choose Location" class="form-control datepicker px-3">
      <span class="icon icon-date_range"></span>
    </div>
    <br>
    <br>

    <div class="mb-3 mb-md-0 col-md-3">
      <select name="" id="" class="custom-select form-control">
        <option value="" selected>Select brand</option>
        <option [value]="brand.id" *ngFor="let brand of brands">{{brand.name}}</option>
      </select>
    </div>
    <div class="mb-3 mb-md-0 col-md-3">
      <div class="form-control-wrap">
        <input type="text" id="cf-3" placeholder="Pick up" class="form-control datepicker px-3">
        <span class="icon icon-date_range"></span>

      </div>
    </div>
    <div class="mb-3 mb-md-0 col-md-3">
      <div class="form-control-wrap">
        <input type="text" id="cf-4" placeholder="Drop off" class="form-control datepicker px-3">
        <span class="icon icon-date_range"></span>
      </div>
    </div>
    <div class="mb-3 mb-md-0 col-md-3" style="margin: 10px; padding: 10px;">

      <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3 px-4" style="padding: 10px;">
    </div>

  </div>
</form>
